@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: #1D2226;
}

/*Estilizando o cabeçalho*/
header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1.5rem 0 1.5rem 2rem;
    background-color: #0F1C26;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

}

header .menu-logo {
    margin-left: 4rem;
    margin-right: 1.5rem;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    flex-wrap: wrap;
}
nav .pesquisa {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 440px;
    padding: 1rem;
    background: #171B1E;
}

header nav .pesquisa input {
    font-weight: 500;
    font-size: 1rem;    
    line-height: 150%;
    color: #FDFDFD;
    opacity: 0.8;
    background: #171B1E;
}

nav .pesquisa button{
    background-color: #171B1E;
    padding: 0.5rem;
}
nav .pesquisa button img {
    object-fit: cover;
    width: 1.5rem;
    height: 1.5rem;
}
header nav .fav,
header nav .prom,
header nav .perfil {
    display: flex;
    align-items: center;
    background-color: #0F1C26;
}

header nav .fav span,
header nav .prom span,
header nav .perfil span {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: #FDFDFD;
}

header nav .fav img,
header nav .prom img {
    margin-right: .8rem;
}

header nav .perfil img {
    margin-left: .5rem;
    object-fit: cover;
    width: 56px;
    height: 56px;
}


/*Cupom*/
article{
    margin-bottom: 2.5rem;
}

.cupom {

    display: flex;

    background-repeat: no-repeat;
    background-size: contain;/*Posicionamento da imagem dentro do container*/

    background-image: url(./images/background-cupom.svg);

}
.cupom .esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

}
.cupom .esquerda h2 {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 150%;
    color: #0F0915;
    opacity: 0.8;
}
.cupom .esquerda h4 {
    display: flex;

    align-items: center;

    font-family: 'Quantico';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    color: #0F0915;

    opacity: 0.8;
}

.cupom .esquerda h4 img {
    margin-right: 8px;
}

.cupom span {
    align-self: center;
    opacity: 0.2;
    border: 1px solid #F294D8;
    height: 46px;
    transform: rotate(180deg);
}
.cupom .direita {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;

    padding: 1.5rem 0;
}
.cupom .direita > img {
    align-self: flex-end;
    position: absolute;
    top: -45px;
    left: 45%;
}
.cupom .direita .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem
}
.cupom .direita .info h3 {

    font-size: 1.5rem;
    line-height: 150%;
    color: #0F0915;
    opacity: 0.8;
    margin-bottom: 16px;
}
.cupom .direita .info h4 {
    
    display: flex;

    align-items: center;


    font-size: 16px;
    line-height: 150%;
    color: #0F0915;

    opacity: 0.8;
}

.cupom .direita h4 img {
    margin-right: 10px;
}

/*Corpo da página*/
.corpo {
    display: flex;
    justify-content: space-between;

    max-width: 1300px;
    margin: 0 auto;
}
.conteudo {

    max-width: 937px;
}
.top-filmes {
    display: flex;
    flex-direction: column;
}

.top-filmes h2{
    align-self: flex-start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
    color: #FDFDFD;

    margin-bottom: 1rem;
}
.cards-top {

    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-card {

    height: 300px;
    width: 170px;
    flex: 1;

    opacity: 0.8;
}
.top-card + .top-card {
    margin-left: 1.5rem;
}
.top-card .nota {
    display: flex;
    justify-content: flex-end;
}

.top-card footer {

    display: flex;
    justify-content: space-between;
    background: #A785ED;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0.5rem 0.375rem 0.5rem;
    color: #EEE6FF;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
}
/*Filmes*/

.lista-filmes {
    display: flex;
    flex-direction: column;

}
.lista-filmes h2 {
    

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
    color: #FDFDFD;
    margin-bottom: 1rem;
}
.botoes-filtro {

    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.botoes-filtro button {
    
    background-color:  #E5E5E5;
    /*background: rgba(225, 131, 200, 0.2);*/
    /*border: 2px solid #E183C8;*/

    border: 2px solid #FFFFFF;
    width: 170px;
    padding: 0.5rem; 

    flex-grow: 1;
    border: 2px solid #4A4E51;
    background-color: transparent;
    color:  #4A4E51;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
    max-width: 170px;

}

.filmes {

    display: flex;
    align-items: center;

    flex-wrap: wrap;
}


.filme {
    height: 300px;
    width: 168px;
    margin-right: 1.5rem;
    opacity: 0.8;
}
.filme:nth-child(5n){
    margin-right: 0;
}

.filme .nota {
    display: flex;
    justify-content: flex-end;
}

.filme footer {

    display: flex;
    justify-content: space-between;
    background: #A785ED;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0.5rem 0.375rem 0.5rem;
    color: #EEE6FF;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
}

/*Barra lateral*/
.sidenav{
    flex: 1;
    max-width: 312px;

}
.sidenav .sacola {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #A785ED, #A785ED), #C4C4C4;
    padding: 18px;
}

.sidenav .sacola span {

    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
    text-align: center;
    margin-left: 12px;
    color: #FDFDFD;
}

.sidenav .resto {
    display: flex;
    flex-direction: column;

    padding: 2rem 1rem;
    
    background: #0B1217;
}

.sidenav .resto h3{

    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;  

    color: #FDFDFD;
    margin-bottom: 6px;
}

.sidenav .resto > p {


    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FDFDFD;

    opacity: 0.8;
}

.sidenav .resto h5 {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FDFDFD;
}

.sidenav .resto label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0B1217;
    padding: .5rem 1rem;
}

.sidenav .resto label input {
    background: #0B1217;

    font-size: 1rem;
    line-height: 150%;
    color: #FDFDFD;
    opacity: 0.4;
}





